@use 'mixins' as *;

.entry-form-wrapper {
    @include flex;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 32.9%);
    will-change: opacity, backdrop-filter;
}

.entry-form {
    @include flex(column, flex-start, stretch);

    gap: 1rem;
    width: 400px;
    height: 350px;
    padding: 1rem;
    border: 1px solid var(--border-accent-1);
    border-radius: 10px;
    background-color: var(--bg-1);
    font-size: 15px;
    will-change: opacity, scale;
    overflow: hidden;

    > .form-header {
        @include flex($justify: space-between);

        position: relative;
        height: 30px;

        > .title-icon {
            position: absolute;
            top: -45px;
            left: -25px;
            z-index: -1;
            width: 100px;
            height: 100px;
            color: var(--bga-1);
            rotate: -20deg;

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    > .form-group {
        position: relative;
        height: 40px;
        border: 1px solid var(--border-1);
        border-radius: 5px;
        transition: background-color 0.2s ease;

        &:hover, &:focus-within, &:has(input:not(:placeholder-shown)){
            background-color: var(--bg-2);
        }

        > .group-label {
            @include flex($justify: flex-start);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: fit-content;
            height: 100%;
            color: var(--fg-inactive);
            transition: transform 0.2s ease, font-size 0.2s ease, height 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
            will-change: font-size;
            pointer-events: none;
            user-select: none;
            margin-left: 36px;
        }

        > .group-input {
            @include flex($justify: flex-start);

            position: absolute;
            z-index: 10;
            flex-direction: row;
            width: 100%;
            height: 100%;
            color: var(--fg-inactive);

            > svg {
                width: 36px;
                flex-shrink: 0;
            }

            > input {
                z-index: 10;
                width: 100%;
                height: 100%;
                border: 0;
                background-color: transparent;
                color: var(--fg);
                font-family: inherit;
                font-size: 15px;
                outline: none;
                padding-right: 0.5rem;
            }
        }

        &:has(input:focus-within) > .group-label, &:has(input:not(:placeholder-shown)) > .group-label {
            height: 14px;
            background-color: var(--bg-1);
            font-size: 14px;
            transform: translate3d(-26px, -9px, 0);
        }
    }

    .form-title {
        font-size: 20px;
        font-weight: bold;
    }
}
