@use "mixins" as *;

.form {
    --group-gap: 2rem;
    --input-gap: 1rem;
    --input-height: 45px;

    @include flex(column, $align: stretch);

    gap: var(--group-gap);

    // background-color: var(--bg-1);

    &-group {
        @include flex(column, $align: flex-start);

        gap: var(--input-gap);
    }

    &-input {
        @include flex(column, $align: flex-start);

        width: 100%;

        label {
            font-size: 14px;
            padding-bottom: 0.5rem;
            padding-left: 3px;
            font-weight: 600;
        }

        label > .star {
            color: var(--fg-danger);
            padding-left: 0.2rem;
        }

        input {
            --input-height: 45px;

            width: 100%;
            height: var(--input-height);
            border: none;
            background-color: var(--bg-1);
            color: var(--fg);
            font-family: Inter, sans-serif;
            font-size: 16px;
            outline: none;
            font-variant-ligatures: none;
            font-weight: 400;
        }

        input::placeholder {
            font-family: Inter, sans-serif;
        }

        input::-ms-reveal,
        input::-ms-clear {
            display: none;
        }
    }

    &-input-wrapper {
        @include flex;

        gap: 10px;
        width: 100%;
        border: 1px solid var(--border-1);
        border-radius: 10px;
        background-color: var(--bg-1);
        color: var(--fg);
        font-size: 16px;
        outline: none;
        transition: box-shadow 0.15s ease;
        padding-inline: 10px;
    }

    &-input-wrapper:focus-within {
        box-shadow: 0 0 0 2px var(--border-2);
    }

    &-input.has-error &-input-wrapper {
        border-color: var(--border-error);
    }

    &-input.has-error &-input-wrapper:focus-within {
        box-shadow: 0 0 0 2px var(--border-danger);
    }

    &-input-wrapper > svg {
        width: 18px;
        height: 18px;
        color: var(--fg-inactive);
    }

    &-input-error {
        color: var(--fg-danger);
        font-size: 12px;
        padding-top: 0.3rem;
        padding-left: 3px;
    }
}


.form-wrapper {
    @include flex;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 32.9%);
    will-change: opacity, backdrop-filter;
}


.form.style-modal {
    @include flex(column, flex-start, stretch);

    gap: 1rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid var(--border-accent-1);
    border-radius: 10px;
    background-color: var(--bg-1);
    font-size: 15px;
    will-change: opacity, scale;
    overflow: hidden;

    > .form-header {
        @include flex($justify: space-between);

        position: relative;
        height: 30px;

        > .title-icon {
            position: absolute;
            top: -45px;
            left: -25px;
            z-index: -1;
            width: 100px;
            height: 100px;
            color: var(--bga-1);
            rotate: -20deg;

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .form-title {
        font-size: 20px;
        font-weight: bold;
    }
}
