.entry-form-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 32.9%);
    will-change: opacity, backdrop-filter;
}

.entry-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    height: 350px;
    padding: 1rem;
    border: 2px solid var(--border-accent);
    border-radius: 10px;
    background-color: var(--bg-1);
    will-change: opacity, scale;
    overflow: hidden;

    > .form-header {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 30px;

        > .title-icon {
            position: absolute;
            top: -45px;
            left: -25px;
            z-index: -1;
            width: 100px;
            height: 100px;
            color: var(--bga-1);
            rotate: -20deg;

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    > .form-group {
        position: relative;
        height: 40px;
        border: 2px solid var(--border-1);
        border-radius: 10px;
        transition: background-color 0.2s ease;

        &:hover, &:focus-within {
            background-color: var(--bg-2);
        }

        > .group-label {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            align-items: center;
            width: fit-content;
            height: 100%;
            color: var(--fg-inactive);
            transition: transform 0.2s ease, font-size 0.2s ease, height 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
            will-change: font-size;
            pointer-events: none;
            user-select: none;
            margin-left: 36px;
        }

        > .group-input {
            display: flex;
            position: absolute;
            z-index: 10;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;
            color: var(--fg-inactive);

            > svg {
                width: 36px;
                flex-shrink: 0;
            }

            > input {
                z-index: 10;
                width: 100%;
                height: 100%;
                border: 0;
                background-color: transparent;
                color: var(--fg);
                outline: none;
                padding-right: 0.5rem;
                font: inherit;
            }
        }

        &:has(input:focus-within) > .group-label, &:has(input:not(:placeholder-shown)) > .group-label {
            height: 14px;
            background-color: var(--bg-1);
            font-size: 14px;
            transform: translate3d(-26px, -9px, 0);
        }
    }

    .form-title {
        font-size: 20px;
        font-weight: bold;
    }

    .form-close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 2px solid var(--border-accent);
        border-radius: 0.5rem;
        background-color: var(--bg-accent);
        color: var(--fg-accent);
        transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, scale 0.2s ease;
        cursor: pointer;

        &:hover {
            background-color: var(--accent);
            color: var(--fg);
            border-color: var(--accent);
        }

        &:active {
            scale: 0.95;
        }
    }
}