@use 'mixins' as *;

.modal-wrapper {
    @include flex;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 32.9%);
    will-change: opacity, backdrop-filter;
}

.modal {
    @include flex(column, flex-start, stretch);

    gap: 1.5rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid var(--border-accent-1);
    border-radius: 10px;
    background-color: var(--bg-1);
    font-size: 15px;
    will-change: opacity, scale;
    overflow: hidden;

    .modal-header {
        @include flex($justify: space-between);

        position: relative;
        height: 30px;
        
        .modal-title {     
            font-size: 20px;
            font-weight: bold;
        }

        .title-icon {
            position: absolute;
            top: -35px;
            left: -25px;
            z-index: -1;
            width: 80px;
            height: 80px;
            color: var(--bga-1);
            rotate: -10deg;

            & > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.dangerous, &.error {
        border-color: var(--border-error);
    }

    &.info {
        border-color: var(--border-info);
    }

    &.warning {
        border-color: var(--border-warning);
    }

    & > .modal-message {
        color: var(--fg-secondary);
    }
}