@use "mixins" as *;
@use "sass:color";

.password-meter {
    $step-bg-weak: #c72e2e;
    $step-bg-okay: #e2871f;
    $step-bg-strong: #2ab135;
    $step-bg-very-strong: #26d835;

    @include flex(column, space-between, stretch);

    gap: 0.5rem;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-1);
    border-radius: 10px;
    background-color: var(--bg-2);
    transition: border-color 0.2s ease;

    &-progress {
        @include flex;

        gap: 0.5rem;
    }

    &-header {
        @include flex($justify: space-between);
    }

    &-title {
        font-size: 14px;
        font-weight: 600;
    }

    &-strength {
        color: var(--fg-secondary);
        font-family: "JetBrains Mono", monospace;
        font-size: 14px;
        transition: color 0.2s ease;
    }

    &-suggestions-wrapper {
        overflow: hidden;
    }
    
    &-suggestions {
        @include flex(column, $align: flex-start);

        padding: 0.5rem;
        border-radius: 5px;
        background-color: color.mix(#f5b746, transparent, 5%);
        font-family: "JetBrains Mono", monospace;
        font-size: 14px;
        margin-bottom: 0.5rem;

        .suggestions-header {
            @include flex($justify: flex-start);

            gap: 0.2rem;
            color: #f5b746;
            padding-bottom: 0.2rem;
            font-weight: 600;
        }
    }

    &-suggestion {
        width: 100%;
        color: color.mix(#f5b746, #a3a3a3, 50%);
        font-size: 12px;
        overflow: hidden;
    }

    // &-suggestion:last-child {
    //     padding-bottom: 2rem;
    // }

    .progress-step {
        height: 5px;
        border-radius: 10px;
        background-color: var(--border-1);
        box-shadow: 0 0 2px rgb(34 34 34);
        transition: background-color 0.15s ease;
        flex-grow: 1;
    }

    &.weak {
        border-color: color.mix($step-bg-weak, #303030, 50%);

        .password-meter-strength {
            color: color.mix($step-bg-weak, #a3a3a3, 80%);
        }

        .progress-step.active {
            background-color: $step-bg-weak;
        }
    }

    &.okay {
        border-color: color.mix($step-bg-okay, #303030, 50%);

        .password-meter-strength {
            color: color.mix($step-bg-okay, #a3a3a3, 80%);
        }

        .progress-step.active {
            background-color: $step-bg-okay;
        }
    }

    &.strong {
        border-color: color.mix($step-bg-strong, #303030, 50%);

        .password-meter-strength {
            color: color.mix($step-bg-strong, #a3a3a3, 80%);
        }

        .progress-step.active {
            background-color: $step-bg-strong;
        }
    }

    &.very-strong {
        border-color: color.mix($step-bg-very-strong, #303030, 50%);

        .password-meter-strength {
            color: color.mix($step-bg-very-strong, #a3a3a3, 80%);
        }

        .progress-step.active {
            background-color: $step-bg-very-strong;
        }
    }
    
}