@use 'mixins' as *;

.popup-wrapper {
    @include flex;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 32.9%);
    will-change: opacity, backdrop-filter;
}

.confirm-popup {
    @include flex(column, flex-start, stretch);

    gap: 1rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid var(--border-accent-1);
    border-radius: 10px;
    background-color: var(--bg-1);
    font-size: 15px;
    will-change: opacity, scale;
    overflow: hidden;

    .popup-header {
        @include flex($justify: space-between);

        position: relative;
        height: 30px;
        
        .popup-title {     
            font-size: 20px;
            font-weight: bold;
        }

        .title-icon {
            position: absolute;
            top: -35px;
            left: -25px;
            z-index: -1;
            width: 80px;
            height: 80px;
            color: var(--bga-1);
            rotate: -10deg;

            & > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.dangerous {
        border-color: var(--border-danger);
    }

    & > .popup-message {
        color: var(--fg-secondary);
    }

    .popup-close {
        @include flex;

        width: 30px;
        height: 30px;
        border: 2px solid transparent;
        border-radius: 50%;
        color: var(--fg-secondary);
        transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, scale 0.2s ease;
        padding-top: 1px;
        cursor: pointer;

        &:hover {
            background-color: var(--bga-1);
            color: var(--fg);
        }

        &:active {
            scale: 0.95;
        }
    }
}