@use "mixins" as *;
@use "sass:color";

$step-color-upcoming: #585858;
$step-color-current: #ae71b1;
$step-color-completed: #ae71b1;

.stepper {
    @include flex;

    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 40px;

    &-step {
        position: relative;
        text-align: center;

        .step-details {
            @include flex(column);

            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 40px;
            padding-top: 0.5rem;

            * {
                width: fit-content;
                white-space: nowrap;
            }
        }

        .step-circle {
            width: 18px;
            height: 18px;
            border: 2px solid $step-color-upcoming;
            border-radius: 7px;
            transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
        }

        .step-number {
            color: var(--fg-secondary);
            font-family: "JetBrains Mono", monospace;
            font-size: 10px;
        }

        .step-label {
            font-size: 14px;
        }
    }

    &-line {
        position: relative;
        width: 70px;
        height: 2px;
        border-radius: 10px;
        background-color: $step-color-upcoming;
    }

    &-line::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $step-color-current;
        transition: transform 0.2s ease;
        transform: scaleX(0);
        transform-origin: left;
        content: '';
    }

    &-line.in-progress::after {
        transform: scaleX(0.5);
    }

    &-line.completed::after {
        transform: scaleX(1);
    }

    &-step.in-progress {
        .step-circle {
            background-color: $step-color-current;
            box-shadow: 0 0 0 4px color.mix($step-color-current, transparent, 25%);
            border-color: transparent;
        }
    }

    &-step.completed {
        .step-circle {
            background-color: $step-color-completed;
            border-color: transparent;
        }
    }
}