@use 'mixins' as *;

$bg-default: rgb(32 32 32);
$bg-success: rgb(12 34 12);
$bg-error: rgb(39 25 25);
$bg-warning: rgb(51 48 32);
$bg-info: rgb(25 32 39);
$border-default: rgb(65 65 65);
$border-success: rgb(96 146 101);
$border-error: rgb(170 80 80);
$border-warning: rgb(150 143 79);
$border-info: rgb(79 143 150);
$color-default: var(--fg);
$color-success: rgb(200 255 204);
$color-error: rgb(255 134 134);
$color-warning: rgb(255 239 146);
$color-info: rgb(146 239 255);

.toasts {
    @include flex(column);

    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%)
}

.toast {
    @include flex($justify: flex-start);

    position: relative;
    gap: 1rem;
    min-width: 250px;
    max-width: 350px;
    padding: 0.5rem;
    border: 1px solid $border-default;
    border-radius: 5px;
    background-color: $bg-default;
    color: $color-default;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    padding-left: 1rem;
    margin-top: 1rem;

    &-icon {
        width: 16px;
        height: 18px;
        flex-shrink: 0
    }

    &-icon svg {
        width: 100%;
        height: 100%;
    }

    &-message {
        flex-grow: 1
    }

    &-count {
        @include flex;

        position: absolute;
        top: -0.8rem;
        right: -0.5rem;
        padding: 0.2rem 0.4rem;
        border-radius: 5px;
        background-color: $bg-error;
        background-color: rgb(0 0 0 / 49.3%);
        color: inherit;
        font-family: 'JetBrains Mono', monospace;
        font-size: 11px;
        backdrop-filter: blur(5px);
        border-top: none;
        border-color: inherit;
    }

    &-progress-track {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
    }
    
    &-progress {
        display: block;
        height: 100%;
        background-color: $color-default;
        will-change: transform;
        transform-origin: top left;
    }

    &.toast-success {
        background-color: $bg-success;
        color: $color-success;
        border-color: $border-success;

        .toast-progress {
            background-color: $color-success;
        }
    }

    &.toast-warning {
        background-color: $bg-warning;
        color: $color-warning;
        border-color: $border-warning;
        
        .toast-progress {
            background-color: $color-warning;
        }
    }

    &.toast-error {
        background-color: $bg-error;
        color: $color-error;
        border-color: $border-error;
        
        .toast-progress {
            background-color: $color-error;
        }
    }

    &.toast-info {
        background-color: $bg-info;
        color: $color-info;
        border-color: $border-info;
        
        .toast-progress {
            background-color: $color-info;
        }
    }
}