@use 'mixins' as *;

.entries {
    gap: 0;
    border: 0;
    border-radius: 10px;
    background-color: var(--bg-1);
    font-size: 14px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
        padding: 0 0.5rem;
        background-clip: padding-box;
        border-bottom: 1px solid var(--border-1);
    }

    thead tr {
        height: 35px;
        border-radius: 10px;
        background-color: var(--bga);
    }

    thead th {
        color: var(--fg-secondary-1);
        font-family: 'JetBrains Mono', monospace;
        text-align: left;
        font-weight: normal;
    }

    /* Table corner rounding */
    thead th:first-child {
        border-top-left-radius: 10px;
    }

    thead th:last-child {
        border-top-right-radius: 10px;
    }

    tbody tr td {
        color: var(--fg-secondary);
        font-family: 'JetBrains Mono', monospace;
        font-size: 14px;
    }

    td:first-child {
        padding-right: 0;
    }

    td:nth-child(2) {
        width: 25%;
    }

    td:has(.entry-password) {
        padding-right: 0;
    }

    .entry-actions {
        @include flex;

        gap: 0.5rem;
        width: 100%;
        opacity: 0;
        transition: opacity 0.1s ease;
        pointer-events: none;
    }

    tbody tr {
        align-items: center;
        gap: 1rem;
        height: 55px;
        transition: background-color 0.1s ease;

        &:hover .entry-actions {
            opacity: 1;
            pointer-events: all;
        }

        &:hover{
            background-color: var(--bg-2);
        }

        &:last-child td {
            border-bottom: 0;
        }
    }

    tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .entry-name {
        width: 25%;
    }

    .entry-password {
        @include flex($justify: space-between);

        gap: 0.5rem;
        min-width: 250px;

        .password-split {
            position: relative;

            .password {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
    }

    .entry-last-use {
        width: 95px;
        padding-right: 0;
    }

    tbody * {
        user-select: text;
    }
}

.entry {
    .entry-label {
        @include flex($justify: flex-start);

        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        color: var(--fg);
        font-size: 16px;
        font-weight: 600;
    }

    span {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .favicon {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        flex-shrink: 0;
        overflow: hidden;

        > img, .placeholder {
            position: absolute;
            width: 40px;
            height: 40px;
            font-family: Inter, sans-serif;
        }

        > img {
            z-index: 2;
            padding: 3px;    
            border-radius: 5px;
            background-color: rgb(255 255 255);
            object-fit: cover;
        }

        .placeholder {
            @include flex;

            z-index: 1;
            background-color: var(--fg-inactive);
            opacity: 1;
            transition: opacity 0.2s ease;

            &.hidden {
                opacity: 0;
            }
        }
    }
}

/* ----------------------------- Hoverable icon ----------------------------- */
.icon-hoverable {
    @include flex;

    padding: 8px;
    border-radius: 50%;
    background-color: var(--bga-1);
    opacity: 0.8;
    transition: background-color 0.1s ease, color 0.1s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-bg);
        color: var(--hover-fg);
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

/* ----------------------------- Toggleable icon ---------------------------- */
.icon-toggleable {
    display: block;
    position: relative;
    width: fit-content;
    width: 32px;
    height: 32px;
    cursor: pointer;

    .icon-hoverable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease;
        will-change: opacity;
    }

    &:hover .icon-hoverable {
        background-color: var(--hover-bg);
        color: var(--hover-fg);
    }

    &:not(.toggled) .icon-hoverable:first-child {
        z-index: 3;
        opacity: 0.8;
    }

    &.toggled .icon-hoverable:nth-child(2) {
        z-index: 3;
        opacity: 0.8;
    }

    &.toggled .icon-hoverable:first-child {
        opacity: 0;
    }
}
