@use 'mixins' as *;

.table {
    @include flex(column, flex-start, stretch);

    gap: 0;
    border: 0;
    border-radius: 10px;
    background-color: var(--bg-1);
    box-shadow: 0 4px 5px rgb(19 19 19 / 13%);
    font-size: 14px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;

    &-row {
        display: grid;
        align-items: center;
        min-height: 0;
        will-change: height, opacity, transform;
        flex-shrink: 0;
        padding-inline: 0.25rem;
        grid-template-columns:
            40px     /* Favorite */
            1.7fr    /* Label */
            1.3fr    /* Name */
            2fr      /* Password */
            0.8fr    /* Last use */
            80px;    /* Actions */
    }

    &-row * {
        will-change: unset !important;
    }

    &-row.headers {
        height: 35px;
        min-height: 35px;
        border-radius: 10px 10px 0 0;
        background-color: var(--bga);
    }

    &-header, &-col {
        padding: 0 0.25rem;
        white-space: nowrap;
    }

    &-header {
        color: var(--fg-secondary-1);
        text-align: left;
        font-weight: normal;
    }

    &-body {
        will-change: height;
    }

    .entry-actions {
        @include flex;

        gap: 0.5rem;
        width: 100%;
        opacity: 0;
        transition: opacity 0.1s ease;
        pointer-events: none;
    }

    &-row.entry {
        align-items: center;
        height: 55px;

        // min-height: 55px;
        color: var(--fg-secondary);
        font-size: 14px;
        transition: background-color 0.1s ease;
    
        &:hover .entry-actions {
            opacity: 1;
            pointer-events: all;
        }
    
        &:hover{
            background-color: var(--bg-2);
        }
    
        &:last-child td {
            border-bottom: 0;
        }
    }

    &-row:last-child {
        border: 1px solid transparent;
        border-radius: 0 0 10px 10px;
    }

    .entry-password {
        @include flex($justify: flex-start);
        
        // gap: 0.2rem;

        // min-width: 250px;
        font-family: "JetBrains Mono", monospace;

        .strength {
            @include flex(column, center, center);

            --dot-active: var(--bga-1);

            flex-direction: column-reverse;
            gap: 0.2rem;
            width: 8px;
            height: 35px;

            &__dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--bga-1);
                transition: background-color 0.2s ease;
            }

            &__dot.active {
                background-color: var(--dot-active);
            }

            &--weak      { --dot-active: #c72e2e; }
            &--okay    { --dot-active: #ffa72c; }
            &--strong    { --dot-active: #4bd646; }
            &--excellent { --dot-active: #3992ff; }
        }

        .password-split {
            position: relative;
            
            .password {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }

        .password-actions {
            @include flex;

            gap: 0.5rem;
            flex-grow: 1;
        }
    }

    &-col.last-use {
        // width: 115px;

        // min-width: 115px;
        padding-right: 0;
    }
}

.entry {
    .entry-label {
        @include flex($justify: flex-start);

        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        color: var(--fg);
        font-size: 16px;
        font-weight: 600;
    }

    span {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* ----------------------------- Hoverable icon ----------------------------- */
.icon-hoverable {
    @include flex;

    padding: 8px;
    border-radius: 50%;
    background-color: var(--bga-1);
    opacity: 0.8;
    transition: background-color 0.1s ease, color 0.1s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-bg);
        color: var(--hover-fg);
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

/* ----------------------------- Toggleable icon ---------------------------- */
.icon-toggleable {
    display: block;
    position: relative;
    width: fit-content;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    cursor: pointer;

    .icon-hoverable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease;
        will-change: opacity;
    }

    &:hover .icon-hoverable {
        background-color: var(--hover-bg);
        color: var(--hover-fg);
    }

    &:not(.toggled) .icon-hoverable:first-child {
        z-index: 3;
        opacity: 0.8;
    }

    &.toggled .icon-hoverable:nth-child(2) {
        z-index: 3;
        opacity: 0.8;
    }

    &.toggled .icon-hoverable:first-child {
        opacity: 0;
    }
}

.info-grid {
    @include flex($justify: space-between, $align: stretch);

    gap: 1rem;
    
    &-item {
        --gradient-color: #d8d8d825;
        --border-color: #1f1f1f;
        --icon-color: #313131;
        --fg-color: #585858;

        position: relative;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        background: radial-gradient(circle at 0% 0%, var(--gradient-color), transparent 45%);
        background-color: var(--bg-1);
        box-shadow: 0 4px 5px rgb(19 19 19 / 13%);
        flex-grow: 1;

        // overflow: hidden;
        flex-basis: 0;

        &.favorites {
            --gradient-color: #d3a74725;
            --border-color: #2a251b;
            --icon-color: #584c30;
            --fg-color: #b69f69;
        }

        &.recents {
            --gradient-color: #699dd818;
            --border-color: #21252b;
            --icon-color: #414d5c;
            --fg-color: #7c9abe;    
        }

        & > h2 {
            position: relative;
            z-index: 1;
            padding: 0.5rem;
            background: linear-gradient(to bottom, var(--fg-color) 55%, var(--fg) 70%);
            padding-top: 1rem;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & > .item-missing {
            position: relative;
            z-index: 1;
            padding: 0.5rem;
            color: color-mix(in srgb, var(--fg-color), var(--fg-secondary) 50%);
        }
    }

    &-item::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(to bottom, var(--bg-1), transparent 10%);
        content: '';
    }

    .item-details {
        flex-grow: 1;
    }

    .item-actions {
        color: var(--fg-secondary);
    }

    .item-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;    
        border-radius: 10px;
        overflow: hidden;
        
        & > .icon {
            position: absolute;
            top: -20px;
            left: -20px;
            z-index: 0;
            width: 100px;
            height: 100px;
            color: var(--icon-color);
            opacity: 0.5;
            rotate: 10deg;
        }
    }

    &-list {
        z-index: 1;
        
        @include flex(column, flex-start, flex-start);

        &-iwrap {
            position: relative;
            z-index: 1;
            width: 100%;
        }
        
        &-item {
            @include flex($justify: flex-start);

            position: relative;
            gap: 0.5rem;
            width: 100%;
            padding: 0.5rem;
            transition: background-color 0.2s ease;
        }

        &-item:hover {
            background-color: var(--bga);
        }

        &-iwrap:last-child > &-item {
            border-radius: 0 0 10px 10px;
        }
    }

    .title {
        font-weight: 600;
    }

    .name {
        color: var(--fg-secondary);
        font-size: 14px;
    }
}

.security {
    @include flex(column, flex-start, stretch);

    position: relative;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #362533;
    border-radius: 10px;
    background:
        radial-gradient(circle at 100% 100%, #50244669, transparent 35%),
        radial-gradient(circle at 0% 0%, #3a223469, transparent 35%);
    background-color: var(--bg-1);
    overflow: hidden;

    &::before {
        position: absolute;
        z-index: 1;
        border-radius: 10px;
        background: linear-gradient(to bottom, var(--bg-1), transparent 10%);
        content: '';
        inset: 0;
    }

    &__title {
        position: relative;
        z-index: 2;
        background: linear-gradient(to bottom, #ff99e9 55%, #ffe5fa 80%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__icon {
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 0;
        width: 100px;
        height: 100px;
        color: #4d3148;
        opacity: 0.5;
        rotate: 10deg;
    }

    &__sections {
        @include flex($justify: flex-start, $align: flex-start);

        z-index: 2;
        gap: 1rem;
    }

    &__separator {
        width: 1px;
        background-color: #362533;
        flex-shrink: 0;
    }

    &__section {
        @include flex(column, flex-start, stretch);

        flex: 1;
        gap: 1rem;
        height: 100%;

        &-title {
            @include flex($align: flex-end);

            gap: 0.5rem;
            color: color-mix(in srgb, #4e1e45, var(--fg) 60%);
            font-family: "JetBrains Mono", monospace;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }

    &__section-divider {
        flex-grow: 1;
        margin-bottom: 4px;
        border-bottom: 1px solid #362533;
    }
}

.security-health {
    @include flex;

    gap: 1rem;
    padding-left: 0.5rem;

    &__score {
        position: relative;
        width: 120px;
        height: 100px;
    }

    &__value {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: "JetBrains Mono", monospace;
        font-size: 35px;
        transform: translate(-50%, -50%) !important;
    }

    &__scale {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--fg-inactive);
        font-family: "JetBrains Mono", monospace;
        font-size: 10px;
        text-transform: uppercase;
        transform: translate(-50%, calc(-50% + 1.5rem));
    }

    &__details {
        @include flex(column, flex-start, stretch);

        gap: 0.2rem;
    }

    &__label {
        font-size: 18px;
        font-weight: 500;
        
    }   
    
    &__text {
        color: var(--fg-secondary);
        font-size: 14px;
    }
}

.security-distribution {
    @include flex(column, flex-start, stretch);

    gap: 0.5rem;
    width: 100%;
    height: 100%;

    &__bar {
        @include flex($align: stretch);

        height: 10px;
        border-radius: 6px;
        background: #2a1827;
        overflow: hidden;
    }

    &__segment {
        width: var(--width);
        transition: width 0.3s ease;

        &--weak      { background: #c72e2e; }
        &--okay    { background: #ffa72c; }
        &--strong    { background: #4bd646; }
        &--excellent { background: #3992ff; }
    }

    &__details {
        @include flex(column, center, stretch);

        flex-grow: 1;
    }

    &__detail {
        display: grid;
        align-items: center;
        gap: 0.5rem;
        color: var(--fg-secondary);
        font-size: 12px;
        grid-template-columns: auto 1fr auto;

        &--weak      { --color: #c72e2e; }
        &--okay    { --color: #ffa72c; }
        &--strong    { --color: #4bd646; }
        &--excellent { --color: #3992ff; }
    }

    &__dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color);
    }

    &__value {
        @include flex;

        gap: 0.25rem;
        font-family: "JetBrains Mono", monospace;      
    }

    &__count {
        color: var(--fg-inactive);
        font-size: 10px;
    }
}
