@use "mixins" as *;

.vault-intro {
    @include flex;

    position: relative;
    z-index: 3; 
    height: 100%;
    will-change: opacity;

    &__header {
        @include flex(column, flex-start, stretch);

        gap: 1rem;
    }

    &__group {
        @include flex(column, flex-start, stretch);

        gap: 0.5rem;
    }

    &__content {
        z-index: 2;

        @include flex(column, flex-start, stretch);

        gap: 3rem;
        width: 500px;
    }

    &__title {
        font-size: 26px;
        font-weight: 500;
    }

    &__text {
        color: var(--fg-secondary);
    }

    &__fx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
            radial-gradient(ellipse 100% 100% at 30% 100%, #db38d315, transparent 55%),
            radial-gradient(ellipse 100% 100% at 70% 10%, #db38d315, transparent 55%)
        ;
    }

    &__fx::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: 
            radial-gradient(circle at center, #353535 0.1rem, transparent 0), 
            radial-gradient(circle at center, #222 0.25rem, transparent 0),;
        opacity: 0.15;
        content: "";
        background-size: 1.3rem 1.3rem, 2.6rem 2.6rem;
        background-position: 0 0, 0.65rem 0.65rem;
    }

    &__fx::after {
        position: absolute;
        top: -50%;
        left: -50%;
        z-index: 1;
        width: 200%;
        height: 200%;
        background:
            radial-gradient(
                ellipse 5% 100% at 30% 10%,
                #60a5fa,
                transparent 55%
            ),
            radial-gradient(
                ellipse 5% 80% at 21% 10%,
                #e879f9,
                transparent 55%
            ),
            radial-gradient(
                ellipse 10% 100% at 25% 20%,
                #e879f9,
                transparent 55%
            ),
            radial-gradient(
                ellipse 2% 100% at 29% 10%,
                #5eead4,
                transparent 55%
            ),
            radial-gradient(
                ellipse 2% 100% at 26% 10%,
                #60a5fa,
                transparent 55%
            ),
            radial-gradient(
                ellipse 1% 100% at 28% 10%,
                white,
                transparent 55%
            ),
            radial-gradient(
                ellipse 1% 140% at 23% 10%,
                white,
                transparent 55%
            ),
        ;
        opacity: 0.3;
        content: "";
        filter: blur(10px);
        transform: rotate(-45deg);
        background-position: 25rem -20rem;
        background-repeat: no-repeat;
    }
}