@use 'tooltip';
@use 'modal';
@use 'vault';
@use 'vault-intro';
@use 'form';
@use 'toast';
@use 'mixins' as *;

.dashboard {
    @include flex($justify: flex-start, $align: stretch);

    max-height: 100vh;
}

.no-scrollbar {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
        display: none;
    }
}

.floating-icon {
    position: absolute;
    transform: translate(-50%, -50%);

    & > svg {
        width: 100%;
        height: 100%;
    }
}

.add-button {
    @include flex($justify: space-between);

    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--border-accent);
    border-radius: 20px;
    background-color: var(--bg-accent);
    color: var(--fg-accent);
    font-family: inherit;
    font-size: inherit;
    outline: none;
    transition: color 0.2s ease, width 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    will-change: width;
    cursor: pointer;
    overflow: hidden;

    > .button-text {
        width: 40px;
        opacity: 0;
        transition: opacity 0.2s ease;
        will-change: opacity;
        flex-shrink: 0;
        flex-grow: 1;
        text-align: center;
    }

    > svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }

    &:hover {
        width: 80px;
        background-color: var(--accent);
        color: var(--fg);
        border-color: var(--accent);
    }
    
    &:hover > .button-text {
        opacity: 1;
    }
}

.button-close {
    @include flex;

    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 50%;
    color: var(--fg-secondary);
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, scale 0.2s ease;
    padding-top: 1px;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
        background-color: var(--bga-1);
        color: var(--fg);
    }

    &:active {
        scale: 0.95;
    }
}

.side-bar {
    @include flex(column, flex-start, stretch);

    z-index: 3;
    gap: 0.5rem;
    width: 15rem;
    height: 100vh;
    padding: 0.5rem;
    background: radial-gradient(circle at top left, #f172d517, transparent 35%);
    background-color: var(--bg-1);

    $link-height: 45px;

    .title {
        @include flex;

        position: relative;
        z-index: 2;
        height: 80px;
        padding: 0.5rem;
        color: white;
        font-family: 'Bruno Ace', cursive;
        font-size: 25px;
        padding-left: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;

        img {
            position: absolute;
            top: 40px;
            left: 54px;
            z-index: -1;
            width: 60px;
            height: 60px;
            opacity: 1;
            will-change: transform;
            transform: translate(-50%, -50%);
        }
    }

    &-links {
        @include flex(column, flex-start, stretch);

        position: relative;
        z-index: 2;
        gap: 0.5rem;
    }

    &-link {
        @include flex($justify: flex-start);

        gap: 0.5rem;
        height: $link-height;
        padding: 0.5rem;
        border: 2px solid transparent;
        border-radius: 10px;
        color: var(--fg-inactive);
        font-family: Inter, sans-serif;
        transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
        user-select: none;
        padding-block: 0.6rem;
        cursor: pointer;

        > svg {
            width: 18px;
            height: 18px;
        }

        &:not(.disabled):hover {
            color: var(--fg-secondary);
        }

        &.active {
            color: var(--fg-accent) !important;
        }

        &.disabled {
            opacity: 0.5;
        }
    }

    &-pill {
        --idx: 0;

        position: absolute;
        top: calc(#{calc($link-height + 0.5rem)} * var(--idx));
        z-index: -1;
        width: 100%;
        height: $link-height;
        border-radius: 10px;
        background-color: #9c558d1c;
    }

    &.intro-shown {
        margin-left: -15rem;
    }
}

.greeting {
    font-family: Inter, sans-serif;
    font-size: 35px;
    text-shadow: 0 2px 2px black;
}

.separator {
    height: 2px;
    background-color: var(--bga);
    margin-inline: 0.5rem;
}

.content-wrapper {
    position: relative;
    max-height: 100%;  
    flex-grow: 1;
}

section.content {
    @include flex(column, flex-start, stretch);

    position: absolute;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    overflow: auto;
    color-scheme: dark;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    > header {
        font-size: 25px;
        font-weight: bold;
    }
}

.layout {
    @include flex(column, space-between, stretch);

    height: 100%;
}

.content > .wrapper, .layout > .wrapper {
    @include flex(column, flex-start, stretch);

    gap: 1rem;
    flex-grow: 1;
}

.button-group {
    @include flex($justify: space-between, $align: flex-end);

    gap: 1rem;
    flex-grow: 1;

    & > button {
        height: 35px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: var(--bg-3);
        color: var(--fg-secondary);
        transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease, scale 0.2s ease;
        will-change: scale;
        flex-grow: 1;
        flex-basis: 0;
    }

    & > button:hover {
        color: var(--fg);
        border-color: var(--border-1);
    }

    & > button.prominent {
        background-color: var(--bg-accent);
        color: var(--fg-accent);
    }

    & > button.dangerous, & > button.error {
        background-color: var(--bga-danger);
        color: var(--fg-danger);
    }

    & > button.info {
        background-color: var(--bga-info);
        color: var(--fg-info);
    }

    & > button.warning {
        background-color: var(--bga-warning);
        color: var(--fg-warning);
    }


    & > button:active {
        scale: 0.98;
    }

    & > button.prominent:hover {
        color: var(--fg-accent);
        border-color: var(--border-accent);
    }

    & > button.dangerous:hover, & > button.error:hover {
        background-color: var(--bga-danger-1);
        color: var(--fg);
        border-color: var(--border-danger);
    }

    & > button.info:hover {
        background-color: var(--bga-info-1);
        color: var(--fg);
        border-color: var(--border-info);
    }

    & > button.warning:hover {
        background-color: var(--bga-warning-1);
        color: var(--fg);
        border-color: var(--border-warning);
    }
}