.dashboard {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.side-bar {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-end; */
    padding: 0.5rem;
    height: 100vh;
    width: 15rem;
    /* background: linear-gradient(var(--bg-1), var(--bg)); */
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--border-1);
}

.side-bar > .title {
    /* flex-grow: 1; */
    padding: 0.5rem;
    padding-bottom: 0;
    font-family: 'Inter';
    font-size: 20px;
    /* font-weight: bold; */
}

.side-bar > .link {
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    user-select: none;
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter';
    color: var(--fg-inactive);
}

.side-bar > .link:hover {
    background-color: var(--bg-2);
    border-color: var(--border-1);
    color: var(--fg);
}

.greeting {
    font-family: 'Inter';
    font-size: 35px;
    text-shadow: 0 2px 2px black;
}

.separator {
    height: 2px;
    margin-inline: 0.5rem;
    background-color: #8888ad93;
}

section {
    padding: 0.5rem;
}

section.content {
    padding: 1rem;
    flex-grow: 1;
}