.dashboard {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.no-scrollbar {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.side-bar {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-end; */
    padding: 0.5rem;
    height: 100vh;
    width: 15rem;
    /* background: linear-gradient(var(--bg-1), var(--bg)); */
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--border-1);
}

.side-bar > .title {
    padding: 0.5rem;
    font-family: 'Bruno Ace';
    font-size: 25px;
    text-align: center;
}

.side-bar > .link {
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
    user-select: none;
    height: 45px;
    padding: 0.5rem;
    padding-block: 0.6rem;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter';
    color: var(--fg-inactive);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
}

.side-bar > .link > svg {
    width: 18px;
    height: 18px;
}

.side-bar > .link:hover {
    background-color: var(--bga);
    border-color: var(--border-1);
    color: var(--fg);
    font-weight: bold;
}

.side-bar > .link.active {
    background-color: var(--bg-accent);
    color: var(--fg-accent);
    font-weight: bold;
}

.side-bar > .link.active:hover {
    border-color: var(--border-accent);
}

.greeting {
    font-family: 'Inter';
    font-size: 35px;
    text-shadow: 0 2px 2px black;
}

.separator {
    height: 2px;
    margin-inline: 0.5rem;
    background-color: var(--bga);
}

section.content {
    padding: 1rem;
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;
    color-scheme: dark;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section > header {
    font-size: 25px;
    font-weight: bold;
}

.add-button {
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 1rem;
    border: 2px solid var(--border-accent);
    outline: none;
    color: var(--fg-accent);
    font-family: inherit;
    font-size: inherit;
    background-color: var(--bg-accent);
    cursor: pointer;
    transition: color 0.2s ease, width 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    overflow: hidden;
    will-change: width;
}

.add-button > .button-text {
    opacity: 0;
    transition: opacity 0.2s ease;
    will-change: opacity;
    width: 40px;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
}

.add-button > svg {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.add-button:hover {
    background-color: var(--accent);
    color: var(--fg);
    width: 80px;
    border-color: var(--accent);
}

.add-button:hover > .button-text {
    opacity: 1;
}

.entry-form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: opacity, backdrop-filter;
    z-index: 10000;
}

.entry-form {
    overflow: hidden;
    width: 400px;
    height: 350px;
    padding: 1rem;
    background-color: var(--bg-1);
    border: 2px solid var(--border-accent);
    border-radius: 10px;
    will-change: opacity, scale;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entry-form > .form-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    /* margin-bottom: 0.5rem; */
}

.entry-form > .form-header > .title-icon {
    color: var(--bga-1);
    z-index: -1;
    rotate: -20deg;
    position: absolute;
    top: -45px;
    left: -25px;
    width: 100px;
    height: 100px;
}

.title-icon > svg {
    height: 100%;
    width: 100%;
}

.entry-form .form-title {
    font-size: 20px;
    font-weight: bold;
}

.entry-form .form-close {
    background-color: var(--bg-accent);
    border: 2px solid var(--border-accent);
    border-radius: 0.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fg-accent);
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, scale 0.2s ease;
}

.entry-form .form-close:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--fg);
}

.entry-form .form-close:active {
    scale: 0.95;
}

.form-group {
    position: relative;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--border-1);
    transition: background-color 0.2s ease;
}

.form-group:hover, .form-group:focus-within {
    background-color: var(--bg-2);
}

.form-group > .group-label {
    width: fit-content;
    pointer-events: none;
    user-select: none;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 36px;
    top: 0;
    left: 0;
    color: var(--fg-inactive);
    z-index: 1;
    transition: transform 0.2s ease, font-size 0.2s ease, height 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
    will-change: font-size;
}

.form-group > .group-input {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--fg-inactive);
}

.group-input > svg {
    width: 36px;
    flex-shrink: 0;
}

.group-input > input {
    padding-right: 0.5rem;
    height: 100%;
    width: 100%;
    border: 0;
    outline: none;
    color: var(--fg);
    font: inherit;
    background-color: transparent;
    z-index: 10;
}

.form-group:has(input:focus-within) > .group-label, .form-group:has(input:not(:placeholder-shown)) > .group-label {
    transform: translate3d(-26px, -9px, 0);
    height: 14px;
    font-size: 14px;
    background-color: var(--bg-1);
    /* opacity: 0; */
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    height: 30px;
}

.button-group > button {
    flex-grow: 1;
    height: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
}

/* -------------------------------------------------------------------------- */
/*                                Vault styles                                */
/* -------------------------------------------------------------------------- */
.entries {
    background-color: var(--bg-1);
    padding-inline: 1rem;
}

.entry {
    /* border-bottom: 1px solid var(--border-1); */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
}

.entry .entry-label {
    font-size: 18px;
    font-weight: bold;
}

.entry .entry-name {
    color: var(--fg-secondary);
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

.entry .entry-password {
    color: var(--fg-secondary);
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

.entry .favicon {
    position: relative;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    overflow: hidden;
    /* border-radius: 5px; */
    border-radius: 5px;
}
.entry .favicon > img, .entry .favicon .placeholder {
    position: absolute;
    height: 40px;
    width: 40px;
    /* background-color: var(--bg-1); */
}

.entry .favicon > img {
    background-color: rgb(255, 255, 255);
    padding: 3px;    
    border-radius: 5px;
    object-fit: cover;
    z-index: 2;
}

.entry .favicon .placeholder {
    background-color: var(--fg-inactive);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.entry .favicon .placeholder.hidden {
    opacity: 0;
}