.dashboard {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}

.side-bar {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-end; */
    padding: 0.5rem;
    height: 100vh;
    width: 15rem;
    /* background: linear-gradient(var(--bg-1), var(--bg)); */
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--border-1);
}

.side-bar > .title {
    padding: 0.5rem;
    font-family: 'Bruno Ace';
    font-size: 25px;
    text-align: center;
}

.side-bar > .link {
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
    user-select: none;
    height: 45px;
    padding: 0.5rem;
    padding-block: 0.6rem;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter';
    color: var(--fg-inactive);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
}

.side-bar > .link > svg {
    width: 18px;
    height: 18px;
}

.side-bar > .link:hover {
    background-color: var(--bg-2);
    border-color: var(--border-1);
    color: var(--fg);
    font-weight: bold;
}

.side-bar > .link.active {
    background-color: var(--bg-accent);
    color: var(--fg-accent);
    font-weight: bold;
}

.side-bar > .link.active:hover {
    border-color: var(--border-accent);
}

.greeting {
    font-family: 'Inter';
    font-size: 35px;
    text-shadow: 0 2px 2px black;
}

.separator {
    height: 2px;
    margin-inline: 0.5rem;
    background-color: var(--bg-2);
}

section {
    padding: 0.5rem;
}

section.content {
    padding: 1rem;
    flex-grow: 1;
}

.add-button {
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 1rem;
    border: 2px solid var(--border-accent);
    outline: none;
    color: var(--fg-accent);
    font-family: inherit;
    font-size: inherit;
    background-color: var(--bg-accent);
    cursor: pointer;
    transition: color 0.2s ease, width 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    overflow: hidden;
    will-change: width;
}

.add-button > .button-text {
    opacity: 0;
    transition: opacity 0.2s ease;
    will-change: opacity;
    width: 40px;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
}

.add-button > svg {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.add-button:hover {
    background-color: var(--accent);
    color: var(--fg);
    width: 80px;
    border-color: var(--accent);
}

.add-button:hover > .button-text {
    opacity: 1;
}