@use "mixins" as *;
@use "sass:color";

.fatal-error {
    @include flex(column, flex-start, stretch);

    gap: 2rem;
    height: 100vh;
    padding: 4rem;

    &-bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle at 100% 0, red, #1d1d1d);
    }

    &-bg-overlay::before {
        display:block;
        position: absolute;
        top:0;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: #fff;
        content: "";
        mix-blend-mode:soft-light;
        clip-path: polygon(
            10% 0%,
            50% 40%,
            48% 30%,
            80% 70%,
            78% 62%,
            100% 90%,
            100% 0%
        );
        mask-image: radial-gradient(circle at center, white 60%, transparent 95%);
    }
    
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: 
            radial-gradient(circle at bottom right, #551010c2, transparent 60%),
            radial-gradient(circle at center left, #551010c2, transparent 40%),
            radial-gradient(circle at 30% 100%,#2b2b2b3d, transparent 40%);
        background-color: black;
    }

    &-bg::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: 
            radial-gradient(circle at center, #5e5e5e 0.1rem, transparent 0), 
            radial-gradient(circle at center, #3b3b3b 0.25rem, transparent 0),;
        content: "";
        background-size: 1.3rem 1.3rem, 2.6rem 2.6rem;
        background-position: 0 0, 0.65rem 0.65rem;
        mix-blend-mode:color-dodge;
    }

    & > * {
        z-index: 2;
    }

    &-header {
        @include flex($justify: space-between);

        color: var(--fg-error);
        font-family: "JetBrains Mono", monospace;
        font-size: 1.8rem;
    }

    &-body {
        @include flex(column, space-between, center);

        gap: 4rem;
        color: color.mix(#ff8686, transparent, 70%);
        font-size: 1.5rem;
        flex-grow: 1;
    }

    &-notice {
        width: 100%;
    }

    &-details {
        @include flex(column, flex-start, stretch);

        gap: 0.5rem;
        padding: 1.5rem;
        border: 1px solid color.mix(#ff8686, transparent, 20%);
        border-radius: 10px;
        background-color: var(--bga-2);
        color: #ff8686;
        box-shadow: 0 0 2px rgb(10 10 10);
        font-family: "JetBrains Mono", monospace;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        backdrop-filter: blur(5px);
    }

    &-label {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &-message {
        @include flex(row);

        gap: 0.5rem;
    }

    &-note {
        color: color.mix(#ff8686, transparent, 70%);
        font-size: 1rem;
        text-align: center;
    }

    .title {
        color: #c06666;
    }
}