@use "mixins" as *;

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: "Bruno Ace";
    src: url("/fonts/BrunoAce/BrunoAce-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

:root {
    // Background colors - DEFAULT
    --bg: #121212;
    --bg-1: #161616;
    --bg-2: #1b1b1b;
    --bg-3: #202020;

    // Background colors - ACCENT
    --bg-accent: #332330;

    // Background colors - ALPHA
    --bga: #ffffff08;
    --bga-1: #ffffff0e;
    --bga-2: #00000067;

    // Background colors - STATES
    --bg-info: #152124;
    --bga-info:#1d2c30b4;
    --bga-info-1:#264047c2;
    --bg-success: #0c220c;
    --bg-warning: #333020;
    --bga-warning: #2e2a1ac2;
    --bga-warning-1: #474127c2;
    --bg-danger: #271919;
    --bga-danger: #ff1d1d1a;
    --bga-danger-1: #ff1b1b70;

    // Border colors - DEFAULT
    --border: #141414;
    --border-1: #303030;
    --border-2: #474747;
    --border-3: #5e5e5e;

    // Border colors - ACCENT
    --border-accent: #92608771;
    --border-accent-1: #f172d68c;

    // Border colors - STATES
    --border-info: #4f8f96;
    --border-success: #609265;
    --border-warning: #968f4f;
    --border-error: #8f2020;
    --border-danger: #ff1d1d5d;

    // Foreground - DEFAULT
    --fg: #e5e7eb;
    --fg-secondary: #a3a3a3;
    --fg-secondary-1: #cfcfcf;
    --fg-inactive: #6B6B6B;

    // Foreground - ACCENT
    --fg-accent: #ffa2eb;

    // Foreground - STATES
    --fg-danger: #ff3434;
    --fg-success: #c8ffcc;
    --fg-error: #ff8686;
    --fg-warning: #ffef92;
    --fg-info: #92efff;
    --accent: #ff44d6;

    background: var(--bg);
    color: var(--fg);
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
}

button {
    background-color: inherit;
    color: inherit;
    outline: none;
    font: inherit;
    cursor: pointer;
}

.app-footer {
    color: red;
    color: var(--fg-inactive);
    font-family: 'JetBrains Mono', monospace;
    flex-shrink: 0;
    padding-block: 1rem;
    text-align: center;
}

.favicon {
    --size: 40px;
    
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    flex-shrink: 0;
    overflow: hidden;

    > img, .placeholder {
        position: absolute;
        width: var(--size);
        height: var(--size);
        font-family: Inter, sans-serif;
    }

    > img {
        z-index: 2;
        padding: 3px;    
        border-radius: 5px;
        background-color: rgb(255 255 255);
        object-fit: cover;
    }

    .placeholder {
        @include flex;

        z-index: 1;
        background-color: var(--fg-inactive);
        opacity: 1;
        transition: opacity 0.2s ease;

        &.hidden {
            opacity: 0;
        }
    }
}
