@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("/fonts/Lora/Lora-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

:root {
    --bg: #101014;
    --bg-1: #191924;
    --bg-2: #1b1b2e;
    --border: #14141d;
    --border-1: #252538;
    --border-2: #2a2a46;
    --fg: #e5e7eb;
    --fg-inactive: #a8a9ac;

    font-family: "Inter", monospace;
    color: var(--fg);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}