.ticker {
    --ticker-colsize: 20px;

    display: flex;
    z-index: 10;
    justify-content: flex-end;
    width: fit-content;
    mask-image: linear-gradient(to bottom, transparent 5%, black 25%, black 75%, transparent 95%);
    flex-flow: row-reverse;
    overflow: hidden;

    &-column {
        position: relative;
        z-index: -1;
        width: var(--ticker-colsize);
        min-width: 0;
        height: var(--ticker-colsize);
        font-family: 'JetBrains Mono', monospace;
    }

    &-digit {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: calc(var(--ticker-colsize) - 4px);
    }
}