.ticker {
    --ticker-colheight: 20px;
    --ticker-colwidth: 16.66px;

    display: flex;
    z-index: 10;
    justify-content: flex-end;
    width: fit-content;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    flex-flow: row-reverse;

    &-column {
        position: relative;
        z-index: -1;
        width: fit-content;
        min-width: 0;
        height: var(--ticker-colheight);
        font-family: 'JetBrains Mono', monospace;
    }

    &-digit {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: calc(var(--ticker-colheight) - 4px);
        will-change: transform;
    }
}