body, :root {
    background-color: transparent;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    width: 100%;
    height: 100vh;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    padding: 1rem;
    width: 600px;
    height: 200px;
    background-color: #0e0e0e;
    box-shadow: 0 0 20px rgb(80, 80, 80);
    border-radius: 1.5rem;
    border: 2px solid rgb(83, 83, 83);
}

.search {
    width: 100%;
}

.search > input {
    width: 100%;
    min-width: none;
    border: 2px solid rgb(59, 59, 59);
    background-color: inherit;
    border-radius: 0.8rem;
    padding-inline: 1rem;
    height: 45px;
    font-size: 16px;
    outline: none;
    font-family: 'JetBrains Mono';
    transition: background-color 0.2s ease, border-color 0.2s ease;
    color: var(--fg);
}

.search > input:hover, .search > input:focus-within {
    background-color: #131313;
}