body, :root {
    background-color: transparent;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    width: 100%;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    width: 600px;
    height: 200px;
    padding: 1rem;
    border: 2px solid rgb(83 83 83);
    border-radius: 1.5rem;
    background-color: #0e0e0e;
    box-shadow: 0 0 20px rgb(80 80 80);
}

.search {
    width: 100%;

    > input {
        width: 100%;
        min-width: none;
        height: 45px;
        border: 2px solid rgb(59 59 59);
        border-radius: 0.8rem;
        background-color: inherit;
        color: var(--fg);
        font-family: 'JetBrains Mono', monospace;
        font-size: 16px;
        outline: none;
        transition: background-color 0.2s ease, border-color 0.2s ease;
        padding-inline: 1rem;

        &:hover, &:focus-within {
            background-color: #131313;
        }
    }
}