@use "mixins" as *;
@use "tag";

body, :root {
    background-color: transparent;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    width: 100%;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    --overlay-height: 317px;
    --overlay-border-width: 1px;

    @include flex(column, flex-start, stretch);

    width: 600px;
    height: var(--overlay-height);
    border: var(--overlay-border-width) solid #2c2c2c;
    border-radius: 10px;
    background-color: #121212;
    box-shadow: 0 0 18px #121212;
    will-change: scale;
    overflow: hidden;

    &-list {
        @include flex(column, flex-start, stretch);

        position: relative;
        height: calc( 
            calc(var(--overlay-height) - calc(2 * var(--overlay-height))) - 50px
        );
        flex-shrink: 0;
        overflow: auto;
        flex-grow: 1;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &.overflow::after {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 30px;
            background: linear-gradient(to top, var(--bg), transparent);
            content: '';
            pointer-events: none;
        }

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge */
        }
    }

    &-list-category {
        @include flex(column, flex-start, stretch);

        flex-grow: 1;

        &-title {
            height: 35px;
            padding: 10px;
            color: var(--fg-inactive);
            font-family: "JetBrains Mono", monospace;
            font-size: 12px;
            text-transform: uppercase;

            @include flex($justify: flex-start);

            & > .separator {
                padding-left: 5px;
            }
        }
    }

    &-list-items {
        @include flex(column, flex-start, stretch);

        flex-grow: 1;
    }

    &-list-item {
        @include flex($justify: flex-start);

        position: relative;
        gap: 10px;
        height: 45px;
        padding: 5px 8px;
        transition: background-color 0.15s ease, transform 0.15s ease, padding-left 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        border-left: 2px solid transparent;

        &-icon {
            position: relative;
            cursor: pointer;
        }

        &-icon > svg {
            position: absolute;
            top: -3px;
            right: -3px;
            z-index: 3;
            width: 15px;
            height: 15px;
            border-radius: 2px;
            background-color: var(--bg);
            color: white;
        }

        &-label {
            min-width: 100px;
            color: var(--fg-secondary);
        }
        
        &-label > .highlight {
            color: var(--fg);
            font-weight: 600
        }

        &-name {
            color: var(--fg-inactive);
            font-size: 14px;
        }

        &-tags {
            @include flex(row, flex-end, center);

            gap: 0.3rem;
            flex-grow: 1;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: 
            radial-gradient(ellipse 200% 500% at -15% 100%, var(--accent), transparent 15%),
            radial-gradient(circle at 0% 20%, var(--accent), transparent 5%),
            ;
            opacity: 0;
            transition: opacity 0.15s ease;
            will-change: opacity;
            content: '';
        }

        &:hover {
            background-color: #ffffff03;
        }

        &.active {
            background: linear-gradient(to right, #ffffff07, transparent);
            box-shadow: 0 2px 5px rgb(0 0 0 / 22.6%);
            padding-left: 10px;
            border-left: 2px solid var(--accent);
        }

        &.active::after {
            opacity: 1;
        }

        // &:last-child {
        //     height: 50px;
        //     padding-bottom: 10px;
        // }
    }
}

.search {
    @include flex($justify: flex-start);

    gap: 1rem;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    border-bottom: 1px solid var(--border-1);

    svg {
        width: 20px;
        height: 20px;
        color: var(--fg-inactive);
    }

    input {
        border: none;
        background-color: inherit;
        color: var(--fg);
        font-family: Inter, sans-serif;
        font-size: 16px;
        outline: none;
        padding-block: 1rem;
        flex-grow: 1;
    }
}