@use "mixins" as *;

body, :root {
    background-color: transparent;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    width: 100%;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    width: 600px;
    height: 300px;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    background-color: #121212;
    box-shadow: 0 5px 20px #121212;
}

.search {
    @include flex($justify: flex-start);

    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid var(--border-1);

    svg {
        width: 20px;
        height: 20px;
        color: var(--fg-inactive);
    }

    input {
        border: none;
        background-color: inherit;
        color: var(--fg);
        font-family: Inter, sans-serif;
        font-size: 16px;
        outline: none;
        padding-block: 1rem;
        flex-grow: 1;
    }
}