@use "stepper";
@use "password-meter";
@use "mixins" as *;

.setup-screen {
    @include flex(column, space-between);

    position: relative;
    gap: 1rem;
    height: calc(100vh - 4rem);
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
    background: linear-gradient(to top, var(--bg-accent), var(--bg-1) 30%);
}

.setup-header {
    @include flex;

    gap: 1rem;
    margin-bottom: 1rem;

    img {
        width: 80px;
    }

    .brand {
        @include flex(column, center, flex-start)
    }

    .brand-name {
        font-family: 'Bruno Ace', cursive;
        font-size: 30px;
    }

    .brand-tagline {
        color: var(--fg-secondary);
        font-size: 16px;
    }
}

.setup-back {
    @include flex;

    position: absolute;
    top: 2rem;
    left: 2rem;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--border-3);
    border-radius: 10px;
    background-color: var(--bg-3);
    color: var(--fg);
    box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease, scale 0.15s ease;
    will-change: scale;

    &:hover {
        background-color: var(--bg-accent);
        color: var(--fg-accent);
        border-color: var(--border-accent-1);
    }

    &:active {
        scale: 0.98;
    }
}

.setup-main {
    @include flex(column, flex-start, stretch);
    
    gap: 2rem;
    width: 500px;
    max-height: 430px;
    flex-grow: 1;

    .main-header {
        @include flex(column, flex-start, stretch);

        gap: 0.2rem;

        h1 {
            font-size: 26px;
            font-weight: 500;
        }

        p {
            color: var(--fg-secondary);
        }
    }

    .setup-options {
        @include flex;

        gap: 1rem;
        flex-grow: 1
    }
}

.card {
    @include flex(column, flex-start);

    gap: 1.5rem;
    height: 100%;
    padding: 1.5rem;
    border: 1px solid var(--border-1);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
    transition: border-color 0.2s ease, scale 0.15s ease;
    will-change: scale;
    cursor: pointer;
    flex-basis: 50%;

    &-icon-wrapper {
        @include flex;

        flex-grow: 1;
    }

    &-icon {
        @include flex;

        width: 80px;
        padding: 1.5rem;
        border-radius: 50%;
        background-color: var(--bga);
        transition: background-color 0.2s ease;
        flex-shrink: 0;
        aspect-ratio: 1 / 1;

        svg {
            width: 100%;
            height: 100%;
            color: var(--fg-secondary);
            transition: color 0.2s ease;
        }
    }

    &-bottom {
        @include flex(column);

        gap: 0.5rem;
    }

    &-title {
        font-size: 18px;
        font-weight: 500;
    }

    &-description {
        color: var(--fg-secondary);
        font-size: 14px;
        text-align: center;
    }

    &:hover {
        border-color: var(--border-2);

        svg {
            color: var(--fg);
        }

        .card-icon {
            background-color: var(--bga-1);
        }
    }

    &:active {
        scale: 0.98;
    }

    &.active {
        border-color: var(--border-accent-1);

        svg {
            color: var(--fg-accent);
        }

        .card-icon {
            background-color: var(--bg-accent);
        }
    }
}

.button-continue {
    height: 45px;
    padding: 0.7rem 3rem;
    border: 1px solid var(--border-3);
    border-radius: 10px;
    background-color: var(--bg-2);
    color: var(--fg);
    box-shadow: 0 4px 5px rgb(0 0 0 / 13%);
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease, scale 0.15s ease;
    will-change: scale;
    font-weight: bold;

    &:hover {
        background-color: var(--bg-accent);
        color: var(--fg-accent);
        border-color: var(--border-accent-1);
    }

    &:active {
        scale: 0.98;
    }
}

footer {
    color: var(--fg-secondary);
    font-size: 12px;
    padding-block: 1rem;
}