@use "mixins" as *;

.setup-screen {
    @include flex(column, flex-start);

    gap: 1rem;
    height: calc(100vh - 4rem);
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
    background: linear-gradient(to bottom, var(--bg-accent), var(--bg-1) 30%);
}

.setup-header {
    @include flex;

    gap: 1rem;
    margin-bottom: 2rem;

    img {
        width: 90px;
    }

    .brand {
        @include flex(column, center, flex-start)
    }

    .brand-name {
        font-family: 'Bruno Ace', cursive;
        font-size: 35px;
    }

    .brand-tagline {
        color: var(--fg-secondary);
        font-size: 18px;
    }
}

.setup-main {
    @include flex(column, flex-start, stretch);
    
    gap: 2rem;
    width: 500px;
    flex-grow: 1;

    .get-started {
        @include flex(column, flex-start, stretch);

        gap: 0.2rem;

        h1 {
            font-size: 26px;
            font-weight: 500;
        }

        p {
            color: var(--fg-secondary);
        }
    }

    .setup-options {
        @include flex;

        gap: 1rem;
    }
}

.card {
    @include flex(column, flex-start);

    gap: 1.5rem;
    height: 100%;
    padding: 1.5rem;
    border: 2px solid var(--border-1);
    border-radius: 10px;
    transition: border-color 0.2s ease;
    cursor: pointer;
    flex-basis: 50%;

    &-icon {
        @include flex;

        width: 80px;
        padding: 1.5rem;
        border-radius: 50%;
        background-color: var(--bga-1);
        transition: background-color 0.2s ease;
        flex-shrink: 0;
        aspect-ratio: 1 / 1;

        svg {
            width: 100%;
            height: 100%;
            color: var(--fg-secondary);
            transition: color 0.2s ease;
        }
    }

    &-bottom {
        @include flex(column);

        gap: 0.5rem;
    }

    &-title {
        font-size: 18px;
        font-weight: 500;
    }

    &-description {
        color: var(--fg-secondary);
        font-size: 14px;
        text-align: center;
    }

    &.active {
        border-color: var(--border-accent-1);

        svg {
            color: var(--fg-accent);
        }

        .card-icon {
            background-color: var(--bg-accent);
        }
    }
}

.button-continue {
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-accent);
    color: var(--fg-accent);
}

footer {
    color: var(--fg-secondary);
    font-size: 12px;
}