@use "mixins" as *;
@use "sass:color";

@property --a {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false
}

.unlock-screen {
    @include flex;

    position: relative;
    height: 100vh;

    &-main {
        @include flex(column, flex-start, stretch);

        z-index: 2;
        gap: 2rem;
        width: 500px;
    }

    &-header {
        @include flex(column, flex-start, stretch);

        position: relative;
        gap: 0.2rem;

        h1 {
            font-size: 26px;
            font-weight: 500;
        }

        p {
            color: var(--fg-secondary);
        }

        svg {
            position: absolute;
            top: -45px;
            left: -55px;
            z-index: -1;
            width: 120px;
            height: 120px;
            color: var(--bga-1);
            rotate: 15deg;

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-bg::after {
        $gr-main: #cf5da9;
        $gr-dark: #25131f;
        $gr-inter: color.mix($gr-dark, $gr-main, 70%);
        $gr-end: color.mix($gr-dark, $gr-main, 100%);

        position: absolute;
        z-index: 2;
        border: solid 2em;
        content: "";
        inset: -1.2rem;
        overflow: hidden;
        border-image: 
        conic-gradient(
            from var(--a), 
            $gr-dark, $gr-inter, $gr-main, $gr-inter,
            $gr-dark, $gr-inter, $gr-main, $gr-inter,
            $gr-dark, $gr-inter, $gr-main, $gr-inter, $gr-dark) 1;
        filter: blur(.5em);
        animation: border-rotate 20s linear infinite;
    }

    &-bg {
        position: absolute;
        z-index: 1;
        background: 
            radial-gradient(circle at center, #58585811 0.1rem, transparent 0),
            radial-gradient(circle at left top, rgb(0 0 0 / 31.5%), transparent 45%),
            radial-gradient(circle at 20% 100%, #49124633, transparent 35%),
            radial-gradient(circle at 80% 100%, #6e186a33, transparent 45%),;
        content: "";
        background-size: 1.3rem 1.3rem, 100% 100%, 100% 100%, 100% 100%;
        background-position: 0 0, 0.65rem 0.65rem;
        inset: 0;
    }

    @keyframes border-rotate { to { --a: 1turn } }
}